*{
    margin: 0;
}
.container{
    background: #1F2937;
    padding: 20px;
    margin: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
}
.container div{
    color: #E5E7EB;
    border: 0;
    flex: 1;
    padding: 0px;
    font-size: 18px;
}
.container .zero{
    font-weight: bold;
    flex: 2;
}